.login {
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(/background_banner.jpg);
    padding: 20px 10%;
}

.login-logo {
    width: 150px;
}

.form {
    width: 100%;
    max-width: 450px;
    padding: 50px;
    margin: auto;
    background: rgba(0,0,0,0.6);
    border-radius: 5px;
}

.form h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.form input[type="text"],
.form input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-radius: 5px;
    outline: 0;
    background: #333;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: background 0.3s ease;
    transition: color 0.3s ease;
    transition: border-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    box-shadow: none;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
    background: #555;
    color: white;
    border-color: #555;
    box-shadow: 0 0 5px #555;
}

.form input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.form button {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    border: 0;
    border-radius: 5px;
    background: #e50914;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
    transition: color 0.3s ease;
    cursor: pointer;
}

.form-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
}
