.navbar {
    display: flex;
    width: 100%;
    padding: 20px 5%;
    position: fixed;
    justify-content: space-between;
    color: #e5e5e5;
    font-size: 14px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), 10%, transparent);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 60px;
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar-left ul li {
    cursor: pointer;
}